:root {
  --orange: #F26925;
  --dark-gray: #474C55;
  --blue: #72A4C2;
  --yellow: #FCB414;
  --light-gray: #B9B9BA;
}  

@font-face {
  font-family: Futura-Std-Book;
  src: url("./Fonts/Futura-Std-Book.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Futura-Std-Book';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}