:root {
  --bg: #2D2E2E;
  --dark: #0f0f0f;
  --btn-orange: #ff6900;
  --accent: #fcb900;
  --text-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}