:root {
    --orange: #F26925;
    --dark-gray: #474C55;
    --blue: #72A4C2;
    --yellow: #FCB414;
    --light-gray: #B9B9BA;
  }  

.register {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-header {
    margin-bottom: 20px;
}

.input-div {
    margin-bottom: 20px;
}

.input-h4 {
    margin-bottom: 5px;
}

